button {
  height: 4rem;
  padding: 0 2rem;
  background-color: $color-primary;
  color: $color-white;
  text-transform: capitalize;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  border: 0px;
  border-radius: 0.5rem;
  cursor: pointer;
}

input {
  height: 4.8rem;
  border: 2px solid $color-white;
  width: 50rem;
  padding-left: 1.6rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: $font-primary;
  &:hover,
  &:focus {
    outline: 0.32rem solid rgba($color-secondary, 0.5) !important;
    cursor: pointer;
  }
  // color:
  @media (min-width: 320px) and (max-width: 576px) {
    &::-webkit-inpdut-placeholder {
      font-size: 1.4rem;
    }
    &::-moz-placeholder {
      font-size: 1.4rem;
    }
    &:-ms-input-placeholder {
      font-size: 1.4rem;
    }
    &::-ms-input-placeholder {
      font-size: 1.4rem;
    }
    &::-webkit-input-placeholder {
      font-size: 1.4rem;
      font-weight: 600;
    }
    &::placeholder {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

textarea {
  width: 100%;
  border: 2px solid $color-white;
  border-radius: 0.5rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  color: $color-black;
  font-size: 1.6rem;
  outline: none;
  font-family: $font-primary;
}

hr {
  width: 8rem;
  height: 0.3rem;
  background: $color-secondary;
  border: 0;
  margin: 2.4rem 0;
}

// Banner
.banner {
  position: relative;
  padding: 9.6rem 0;
  &__image {
    width: 100%;
    height: 60rem;
  }
  &__text {
    @include centre;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    color: $color-white;
    &__header {
      @include centre;
      & h2 {
        color: $color-white;
      }
      & p {
        width: 64rem;
        text-align: center;
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &__btn {
        background-color: $color-secondary;
        width: 30%;
        margin-top: 2.4rem;
        font-weight: 600;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    &__text {
      &__header {
        & p {
          width: 85%;
        }
      }
      &__form {
        width: 100%;
        & input {
          width: 85%;
        }
      }
    }
  }
}

.details {
  display: flex;
  & > * {
    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }
}

.featured {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  display: flex;
  justify-content: space-between;
  &__txt {
    position: relative;
    width: 60%;
    top: 5rem;
    & h2 {
      width: 75%;
      margin-bottom: 2.4rem;
    }
    & p {
      width: 100%;
      margin-bottom: 4.8rem;
    }
  }
  &__container {
    width: 40%;
    height: calc(36.5rem * 2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__img {
      width: 36.5rem;
      height: 24.4rem;
      box-shadow: 0px 0px 15px 15px rgba(158, 158, 158, 0.25);
      &:nth-of-type(2) {
        position: absolute;
        top: 20rem;
        right: 20rem;
        z-index: 5;
      }
      &:nth-of-type(3) {
        position: absolute;
        top: 40rem;
        right: 40rem;
        z-index: 5;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    flex-direction: column;
    padding: 2.4rem 2.4rem 4.8rem 2.4rem;
    &__txt {
      position: unset;
      width: 100%;
      & h2 {
        width: 100%;
        text-align: center;
      }
      & p {
        text-align: justify;
        margin-bottom: 2.4rem;
      }

      & img {
        display: none;
      }
    }
    &__container {
      width: 90%;
      margin: 0 auto;
      height: auto;
      &__img:nth-of-type(n) {
        position: unset;
        width: 100%;
        height: unset;
        margin-bottom: 3.2rem;
        box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25);
      }
    }
  }
}

.container {
  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0 12.8rem;
  }
  @media all and (min-width: 1440px) and (max-width: 1920px) {
    padding: 0 24rem;
  }
  @media all and (min-width: 1920px) {
    padding: 0 32rem;
    max-width: 192rem;
    margin: 0 auto;
    @media (min-width: 320px) and (max-width: 576px) {
      // border: 2px solid red;
    }
  }
}

.container-navbar {
  position: absolute;
  z-index: 30;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  @media (min-width: 320px) and (max-width: 576px) {
    // background-color: $color-white;

    text-align: unset;
  }
}

.container-footer {
  background-color: $color-primary;
  width: 100%;
  // max-width: unset;
}

.container-contact__text {
  height: 100%;
}

.container-categories {
  border: 0.1rem solid rgba(158, 158, 158, 0.25);
  @media (min-width: 320px) and (max-width: 576px) {
    border: none;
  }
}
