// Who We Are
.who-we-are {
  display: flex;
  flex-direction: column;
  padding: 5.6rem 0rem;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    &__container {
      width: 45%;
      position: relative;
      &__image {
        width: 100%;
        position: relative;
        left: 3.2rem;
      }
      &__border {
        position: absolute;
        top: 3.2rem;
        height: 100%;
        width: 100%;
        border: 0.3rem solid $color-primary;
        z-index: -1;
      }
    }
    &__text {
      width: 50%;
      & .paragraph {
        line-height: 3rem;
        font-weight: 500;
        text-align: justify;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 4.8rem 2.4rem;
    &__body {
      flex-direction: column;
      &__container {
        width: 100%;
        &__image {
          left: 0;
          width: 100%;
        }
        &__border {
          top: 2.4rem;
        }
      }
      &__text {
        margin-top: 6.4rem;
        width: 100%;
        & .paragraph {
          text-align: justify;
        }
      }
    }
  }
}

// Blog
.news {
  display: flex;
  flex-direction: column;
  padding: 12rem 0rem 9.6rem 0rem;
  border: 2px solid red;
  &__header {
    @include centre;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__card {
      width: 30%;
      height: auto;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25);
      &__image {
        width: 100%;
        height: 24rem;
      }
      & h4,
      & .paragraph,
      & .post-details {
        padding: 0.8rem 2.4rem;
      }

      & h4 {
        font-family: $font-primary;
        font-weight: 500;
      }

      & .post-details {
        padding-bottom: 1.6rem;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 4.8rem 2.4rem;
    &__row {
      flex-direction: column;
      &__card {
        width: 100%;
        margin-bottom: 4.8rem;
        &__image {
          height: unset;
        }
        & .post-details {
          padding-bottom: 2.4rem;
        }
      }
    }
  }
}
